<!-- <div id="stompMsg" style="display: none;">
	<span id="id"></span>&nbsp;&nbsp;
	<span id="description"></span>&nbsp;&nbsp;
	<img id="image" height="84" width="56" />
</div> -->

<div class="tableLayout" style="margin-top: 40px;">
	<table style="table-layout:fixed; border-collapse: separate; border-spacing: 10px; color:Black">
		<caption>Souvenir boutique</caption>
		<thead><tr><th>Id</th><th>Title</th></tr></thead>
		<tbody id="tableBody">
			<tr style="display:none;">
				<td><span id="id"></span></td>
				<td><span id="title"></span></td>
				<td><img id="image" height="84" width="56"/></td>
			</tr>
		</tbody>		
	</table>
</div>
<router-outlet></router-outlet>