<!-- <div id="stompMsg" style="display: none;">
	<span id="id"></span>&nbsp;&nbsp;
	<span id="description"></span>&nbsp;&nbsp;
	<img id="image" height="84" width="56" />
</div> -->

<!-- <div class="tableLayout" style="margin-top: 20px; padding: 0px 20px"> -->
<!-- <div class="tableLayout" style="padding: 20px"> -->
<div class="parent">
	<div class="child1">
		<div class="tableLayout">
			<!-- <table style="table-layout:fixed; border-collapse: separate; border-spacing: 10px; color:Black"> -->
			<table>
				<caption>Souvenir Boutique</caption>
				<thead><tr><th style="width: 100px;">Album</th><th style="width: 100px;">Image Title</th><th></th></tr></thead>
				<tbody id="tableBody">
					<!-- <tr style="display:none;"> -->
						<!-- <td><span id="id"></span></td> -->
						<!-- <td><span id="title"></span></td> -->
						<!-- <td><img id="image" height="84" width="56"/></td> -->
					<!-- </tr> -->
				</tbody>		
			</table>
		</div>

		<button type="button" [disabled]="disable" (click)="clickMe()">{{ !start ? 'Start' : 'Stop' }}</button>


	</div>
	<div class="child2">
		<h2>Kafka Docker (Ubuntu OS) </h2>

		<h3>MySQL database as an input stream for Kafka Streams</h3>
		<p>
			Spring Boot App polls a database table and publishes new or updated rows to a Kafka topic
		</p>
		<h3>Kafka Streams (Spring Boot App)</h3>
		<p>
			Lightweight Library: <b>Kafka Streams</b> runs within your application's own <i>Java Virtual Machine (JVM)</i>,
			making it easy to package, deploy, and monitor like any other microservice.
		</p>
		<h3>Streaming Text Oriented Messaging Protocol (STOMP)</h3>
		<p>
			A message broker routes messages over a <b>WebSocket</b> to clients connection
		</p>
		<h3>Implementation of the <b>WebSocket</b> client in Angular app</h3>
		<p>
			A message broker routes messages over a <b>WebSocket</b> to clients connection
		</p>
		
	</div>

</div>
<router-outlet></router-outlet>