# version: '3.8'
services:
  kafka:
    image: apache/kafka:4.1.1
    ports:
      - "9092:9092"
    volumes:
      - kafka_data:/var/lib/kafka/data
    environment:
      # KRaft settings
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: controller,broker
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      # Log directory formatting (required for KRaft persistent storage)
      KAFKA_CFG_LOG_DIRS: /var/lib/kafka/data
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: 'true'
    # Use 'command' to generate a cluster UUID and format storage on first run
    command: 
      - "sh"
      - "-c"
      - "KAFKA_CLUSTER_ID=$$(bin/kafka-storage.sh random-uuid) && bin/kafka-storage.sh format --ignore-formatted -t $$KAFKA_CLUSTER_ID -c /etc/kafka/docker/server.properties && /etc/kafka/docker/run"

    networks:
      - kafka-net

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - kafka
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - kafka-net

volumes:
  kafka_data:
    driver: local
    
networks:
  kafka-net:
    driver: bridge
